*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to left top, #487ed6, #4b6abe, #4b57a5, #48448d, #433275);
    background-repeat: no-repeat;
    font-family: Roboto, sans-serif;
    font-size: 62.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    background-color: #f6f6f6;
    color: #433275;
    padding: 5vh;
    width: 70%;
    height: 80vh;
    border-radius: 50px;
    box-shadow: 1px 1px 10px #f6f6f6;
    display: flex;
    align-items: center;
    margin: 5em;
}

.logo{
    margin-left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 10em;
}

.landingpage{
    border-right: 2px solid #433275;
    box-shadow: 3px 5px 10px #433275;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title span{
    margin: 3em;
}

.acess{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10%;
}

.acess_register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15%;
}

.acess_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
}

.acess h1{
    font-size: 2rem;
    margin: 5%;
}

.acess h2{
    margin: 5%;
}

.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5%;
}

.bar{
    padding: 0.25em 1em;
    border-radius: 10px;
    border-color: #433275;
    margin: 5%;
    width: 40vh;
    width: 30vh;
    height: 2em;
    box-shadow: 0 0 5px #433275;
}

.button{
    color: #f6f6f6;
    font-size: 2rem;
    font-weight: 600;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    width: 40vh;
    border-radius: 5px;
    background-color: #433275;
    box-shadow: 1px 1px 10px #433275;
    cursor: pointer;
    transition: all 0.5s;
}

.button2{
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    width: 15vh;
    border-radius: 5px;
    background-color: #433275;
    box-shadow: 1px 1px 10px #433275;
    cursor: pointer;
    transition: all 0.5s;
}

.button2:hover{
    transform: translateY(-5px);
    background-color: #487ed6;
}

.button:hover{
    transform: translateY(-5px);
    background-color: #487ed6;
}

.button_link{
    width: 100%;
    font-size: 1.25em;
    font-weight: 600;
    letter-spacing: 1px;
    color: #f6f6f6;
    text-decoration: none;
}

.bonus{
    background-color: #f6f6f6;
    color: #433275;
    width: 100%;
    height: 50vh;
    border-radius: 50px;
    box-shadow: 1px 1px 10px #f6f6f6;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5em;
}

.bonus h1{
    font-size: 2.5rem;

}

.icon{
    width: 5rem;
    margin: 1em;
}

.mini_box{
    margin: 2em;
    display: inline-flex;
    align-items: center;
    text-align: center;
    width: 40vh;
    font-size: 1rem;
    border: 1px solid #433275;
    border-radius: 10px;
    box-shadow: 0 0 5px #433275;
    padding: 1em;
}