*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

header{
    width: 30vh;
    top: 0;
    padding: 0;
    height: 100%;
    position: fixed;
    overflow: auto;
    background-color: #f6f6f6;
    box-shadow: 0px 0px 10px #433275;
}

.perfil_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/background.png");
    background-size: cover;
    height: 25%;
    font-size: 2rem;
    font-weight: bold;
    color: #f6f6f6;
}

.avatar{
    padding: 5%;
    width: 10vh;
    height: 10vh;
    display: block;
    object-fit: cover;
    filter: drop-shadow(0px 0px 10px #f6f6f6);
    transition: all 0.4s;
}

.avatar:hover{
    transform: scale(1.2);
    margin-bottom: 10%;
    filter: drop-shadow(0px 0px 10px #07c7d9);
}

.main_container{
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-weight: bold;
    list-style: none;
}

.link{
    border: 0;
    background-color: #f6f6f6;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 7vh;
    transition: all 0.8s;
    color: #433275;
    text-decoration: none;
}

.link:hover{
    box-shadow: 1px 1px 10px #433275;
    background-color: #433275;
    color: #f6f6f6;
}

.link span{
    display: flex;
    margin-left: 5%;
}

.title{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    margin: 5vh 5vh 0 35vh;
    padding: 0 5vh;
    border-radius: 5em;
    box-shadow: 0px 0px 10px #433275;
    font-size: 1.5rem;
    height: 2em;
    color: #433275;
    font-weight: bold;
    gap: 2vh;
}

.form{
    width: 90%;
}

.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #433275;
    background: #f6f6f6;
    margin: 2em 25em;
    padding: 2rem;
    width: 70%;
}

.svg_edit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.svg_edit a{
    text-decoration: none;
    color: #433275;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1em;
    transition: all 0.3s;
}

.svg_edit a:hover{
    transform: scale(1.1);
    color: #487ed6;
}


.user{
    display: flex;
    justify-content: space-between;
    margin: 0 15%;
}

.user_box{
    display: flex;
    flex-direction: column;
}

.user_box label{
    margin: 1em 0;
    font-size: 1.5rem;
    color: #433275;
    font-weight: 600;
}

.user_box input{
    text-align: start;
    border: 1.2px solid #433275;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #433275;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
}

.email{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.email label{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #433275;
    font-weight: 600;
}

.email input{
    text-align: start;
    border: 1.8px solid #433275;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #433275;
    font-size: 1rem;
    padding: 0.8rem;
}

.button_box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.button{
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    background-color: #433275;
    color: #f6f6f6;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.button:hover{
    background-color: #487ed6;
    transform: translateY(-5px);
}

@media screen and (max-width: 1200px) {

    header{
        width: 25vh;
    }

    .form{
        width: 90%;
    }

    .title{
        width: 50%;
    }

    .perfil{
        margin: 2em 18em;
        width: 60%;
    }

    .svg_edit{
        padding: 0;
    }

    .svg_edit a{
        font-size: 1rem;
    }

    .avatar2{
        width: 8rem;
    }

    .user{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .email{
        display: flex;
        align-items: center;
    }

    .email input{
        margin-top: 1rem;
        width: 25em;
    }
}

@media screen and (max-width: 700px){
    header{
        width: 100%;
        height: auto;
        position: relative;
    }

    .main_container nav{
        display: flex;
        float: left;
    }

    .link{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .link span{
        margin-left: 0.5rem;
    }

    .perfil_container{
        display: none;
    }

    .title{
       margin:auto;
       margin-top: 1em;
       width: 80%;
    }

    .perfil{
        margin:auto;
        margin-top: 1em;
        width: 80%;
    }
    
    .email input{
        width: 20em;
    }

}