*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 62.5%;
    font-family: Roboto, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to left top, #487ed6, #4b6abe, #4b57a5, #48448d, #433275);

}

button{
    width: 25vh;
    height: 2.5rem;
    background-image: linear-gradient(to left top, #487ed6, #4b6abe, #4b57a5, #48448d, #433275);
    border: 0;
    color: #f6f6f6;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover{
    opacity: 0.8;
    transform: scale(1.1);
}

main{
    height: 90%;
    width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    box-shadow: #f6f6f6 0 0 20px;
    margin: 2rem;
    border-radius: 5em;
    color: #433275;
}

@media screen and (max-width: 700px) {
    main{
        width: 70%;
    }   
}

main h1{
    font-size: 2rem;
    margin-bottom: 10%;
}

.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5%;
}

.button{
    text-align: center;
    margin: 1em 3em 3em;
}

.bar{
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border-color: #433275;
    margin: 1rem;
    width: 30vh;
    height: 2em;
}

.line{
    margin: 10%;
    background-color: #433275;
    width: 80%;
    height: 1px;
    color: #f6f6f6;
}

.options_contain{
    border-top: #433275 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    padding: 3em;
}

.options_contain p{
    margin: 0.2em;
}

.link{
    text-decoration: none;
    color: #433275; 
    transition: all 0.3s;   
}

.link:hover{
    color: #487ed6;
}